<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<a href="/board/write">Movie Review</a>
<table border="1">
    <tr>
        <td>Register number</td>
        <td>User Name</td>
        <td>Movie Title</td>
        <td>Summary</td>
        <td>View Count</td>
        <td>Modify Date</td>
        <td>Register Date</td>
    </tr>
    <%
    for(var i=0; i<rows.length; i++)
    {
        var data = rows[i];
    %>
    <tr>
        <td><%=data.idx%></td>
        <td><%=data.name%></td>
        <td><a href="/board/read/><%=data.register_num%>"><%=data.title%></a></td>
        <td><%=data.content%></td>
        <td><%=data.hit%></td>
        <td><%=data.modidate%></td>
        <td><%=data.date%></td>
    </tr>
    <%}%>
</table>
</body>
</html>
